<!doctype html>
<html>
  <head>
    <title>Hello!</title>
  </head>
  <body>
    <h3>Hello, <%=@the_user%>, <%=@the_compliment%></h3>
    <img src= "https://78.media.tumblr.com/tumblr_ma9n5kilwp1qc4uvwo1_400.gif">
  </body>
</html>